src/app/components/weather-widget/weather-widget.component.html

<div class="ent101-form-widget-wrapper">
  <div class="ent101-widget-content">
    <button mat-mini-fab (click)="getByLocation()">
      <mat-icon>person_pin_circle</mat-icon>
    </button>
    <form class="ent101-form-full-width">
      <mat-form-field class="ent101-input-full-width">
        <input matInput [(ngModel)]="cityName" name="cityName">
      </mat-form-field>
      <mat-select #cityRef [(ngModel)]="cityId" name="cityId" (selectionChange)="dropdownChanged(cityRef.value)">
        <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}} {{city.sys.country}}</mat-option>
      </mat-select>
    </form>
    <ng-container *ngIf="showError">
      <h1>{{errorMsg}}</h1>
    </ng-container>
    <ng-container *ngIf="showData">
      <h1 class="etn101-text-center">{{weatherData?.name}}</h1>
      <div class="ent101-weather-icon etn101-text-center"><img src="http://openweathermap.org/img/wn/{{weatherData?.weather[0].icon}}@2x.png"></div>
      <h2 class="etn101-text-center">{{weatherData?.weather[0].description}}</h2>
      <dl class="ent101-param-list">
        <dt class="ent101-param-name">Скорость ветра</dt>
        <dd class="ent101-param-context">{{weatherData?.wind.speed}} м/с</dd>
        <dt class="ent101-param-name">Температура</dt>
        <dd class="ent101-param-context">{{weatherData?.main.temp}} &deg;C</dd>
        <dt class="ent101-param-name">Ощущается как</dt>
        <dd class="ent101-param-context">{{weatherData?.main.feels_like}} &deg;C</dd>
        <dt class="ent101-param-name">Минимальная температура</dt>
        <dd class="ent101-param-context">{{weatherData?.main.temp_min}} &deg;C</dd>
        <dt class="ent101-param-name">Максимальная температура</dt>
        <dd class="ent101-param-context">{{weatherData?.main.temp_max}} &deg;C</dd>
        <dt class="ent101-param-name">Давление</dt>
        <dd class="ent101-param-context">{{weatherData?.main.pressure}} hPa</dd>
        <dt class="ent101-param-name">Влажность</dt>
        <dd class="ent101-param-context">{{weatherData?.main.humidity }} %</dd>
      </dl>
    </ng-container>
  </div>
  <div class="ent101-buttons-row">
    <button class="ent101-basic-button" mat-stroked-button (click)="getWeather()">Send</button>
  </div>
</div>

src/app/components/weather-widget/weather-widget.component.pug
div(class="ent101-form-widget-wrapper")
  div(class="ent101-widget-content")
    button(mat-mini-fab, (click)="getByLocation()")
      mat-icon person_pin_circle
    form(class="ent101-form-full-width")
      mat-form-field(class="ent101-input-full-width")
        input(#cityNameInputRef, matInput, type="text", id="cityName", [(ngModel)]="cityName", name="cityName", (keyup.enter)="getWeather()")
      mat-select(#cityIdRef, [(ngModel)]="cityId", name="cityId", (selectionChange)="dropdownChanged(cityIdRef.value)")
        mat-option(*ngFor="let city of cities", [value]="city.id") {{city.name}} {{city.sys.country}}
    ng-container(*ngIf="showError")
      h1 {{errorMsg}}
    ng-container(*ngIf="showData")
      h1(class="etn101-text-center") {{weatherData?.name}}
      div(class="ent101-weather-icon etn101-text-center")
        img(src="http://openweathermap.org/img/wn/{{weatherData?.weather[0].icon}}@2x.png")
      h2(class="etn101-text-center") {{weatherData?.weather[0].description}}
      dl(class="ent101-param-list")
        dt(class="ent101-param-name") Скорость ветра
        dd(class="ent101-param-context") {{weatherData?.wind.speed}} м/с
        dt(class="ent101-param-name") Температура
        dd(class="ent101-param-context") {{weatherData?.main.temp}} &deg;C
        dt(class="ent101-param-name") Ощущается как
        dd(class="ent101-param-context") {{weatherData?.main.feels_like}} &deg;C
        dt(class="ent101-param-name") Минимальная температура
        dd(class="ent101-param-context") {{weatherData?.main.temp_min}} &deg;C
        dt(class="ent101-param-name") Максимальная температура
        dd(class="ent101-param-context") {{weatherData?.main.temp_max}} &deg;C
        dt(class="ent101-param-name") Давление
        dd(class="ent101-param-context") {{weatherData?.main.pressure}} hPa
        dt(class="ent101-param-name") Влажность
        dd(class="ent101-param-context") {{weatherData?.main.humidity }} %
  div(class="ent101-buttons-row")
    button(mat-stroked-button, class="ent101-basic-button",(click)="getWeather()") Send
